[Unit]
Description=mpanel Service
After=network.target
Wants=network.target

[Service]
Type=simple
WorkingDirectory=/usr/local/mpanel/
EnvironmentFile=-/usr/local/mpanel/.env
ExecStart=/usr/local/mpanel/mpanel
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target